<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Indus.listeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test name = "NewSiteNavigation-Test"> 
  <classes>
  <class name= "Indus.NewSiteNavigationTest">
  <methods>
  <include name= "newSiteNavigation"/>
  </methods>
  </class>
  <class name= "Indus.NewSiteSelectValuesTest">
  <methods>
  <include name= "SelectNewSiteValues"/>
  </methods>
  </class>
  <class name = "Indus.NewSiteSubmitTest">
   <methods>
  <include name= "SubmitNewSite"/>
  </methods>
  </class>
  </classes>
  </test>
</suite> <!-- Suite -->
